$color_bg: #000;
$color_white: #fff;
$color_black: #000;

$color_blue: #0082FF;
$color_red: #FF3C00;
$color_violet: #9A0FDB;

$blue_node: #01203E;

$color_disable: #202020;


@keyframes stroke-anim {
    from {
        stroke-dashoffset: 201 !important;
    }
    to {

        stroke-dashoffset: 0 !important;
        
    }
}


* {
    box-sizing: border-box;
    cursor: none !important;
}

html, body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: $color_bg;
    background-image: url('./Pattern.svg');
   
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    flex-direction: column;
}

.Tree {
    // background-color: blue;

    .circle {
        border: solid 2px $color_white;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        background-color: $blue_node;

        box-shadow: 0px 0px 200px 25px $color_red;
        
        &.active {
   
        }

        
    }

    .icon {
        path {
            fill: $color_disable;
        }
    }
    
    .network {
        width: 100vw;
    }

    .branch {
        stroke: red;

        .disable {
            stroke: $color_disable;
        }
    }

    .node {
        stroke: $color_disable;
        fill: $color_bg;
        .disable {
            
        }
    }

    #_cursor {
        position: fixed; 
        top: 0;
        left: 0;
      
        // box-shadow: 0px 0px 100px 0px rgba(0,94,255,0.73), inset 0px 0px 10px 0px rgba(0,94,255,0.73);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;

        &::after {
            content: "";
            border: solid 4px $color_red;
            filter: blur(4px);
            width: 95%;
            height: 95%;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        svg {
            content: "";
            // border: solid 1px $color_white;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // border-radius: 50%;
    
          circle {
            stroke: $color_red!important;
            stroke-width: 2px;
            stroke-dasharray: 201 !important;
            stroke-dashoffset: 201 !important;
          }
        }
     

        &.magnet {
            transition: 1s ease;

            circle {
                transition: 1.5s ease 1.2s;
                stroke-dashoffset: 0 !important;
                // animation: stroke-anim 3s ease forwards;
               
                  
            }
        }
    }

   
   
    .gif {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 50%;
    }


}

.controls {
    color: $color_white;
    font-size: 60px;
    line-height: 66px;
    font-weight: 700;
}

#_spinner {
    margin: 50px 0 0;
    width: 500px;
    height: 500px;
}

#_testMap {
    border: solid 2px $color_white ;
   
}

#_bar {
    width: 800px;
    height: 80px;
    border: solid 2px $color_white;
    padding: 2px;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

#_progressBar {
    height: 100%;
    width: 0px;
    transition: width .3s ease;
    background-color: $color_white;
    position: relative;

}

