@-webkit-keyframes stroke-anim {
  from {
    stroke-dashoffset: 201 !important;
  }
  to {
    stroke-dashoffset: 0 !important;
  }
}

@keyframes stroke-anim {
  from {
    stroke-dashoffset: 201 !important;
  }
  to {
    stroke-dashoffset: 0 !important;
  }
}

@-webkit-keyframes blinking {
  from {
    fill: #0082FF;
  }
  to {
    fill: #202020;
  }
}

@keyframes blinking {
  from {
    fill: #0082FF;
  }
  to {
    fill: #202020;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #000;
  background-image: url("./Pattern.svg");
}

.container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Tree .circle {
  border: solid 2px #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #01203E;
  -webkit-box-shadow: 0px 0px 200px 25px #FF3C00;
          box-shadow: 0px 0px 200px 25px #FF3C00;
}

.Tree .icon path {
  fill: #202020;
}

.Tree .network {
  width: 100vw;
}

.Tree .branch {
  stroke: #fff;
}

.Tree .branch .disable {
  stroke: #202020;
}

.Tree .node {
  opacity: 1;
}

.Tree .node.hidden {
  opacity: 0;
}

.Tree .node .filter {
  opacity: 0;
}

.Tree .node .circle {
  stroke: #202020;
  fill: #000;
}

.Tree .node path {
  stroke: #202020;
  fill: #202020;
}

.Tree .node.active {
  opacity: 1;
}

.Tree .node.active .filter {
  opacity: 1;
}

.Tree .node.active .circle {
  stroke: #fff;
  fill: #000;
}

.Tree .node.active path {
  stroke: #fff;
  fill: #fff;
}

.Tree #_cursor {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Tree #_cursor::after {
  content: "";
  border: solid 4px #FF3C00;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  width: 95%;
  height: 95%;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Tree #_cursor svg {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Tree #_cursor svg circle {
  stroke: #FF3C00 !important;
  stroke-width: 2px;
  stroke-dasharray: 201 !important;
  stroke-dashoffset: 201 !important;
}

.Tree #_cursor.magnet {
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.Tree #_cursor.magnet circle {
  -webkit-transition: 1.5s ease 1.2s;
  transition: 1.5s ease 1.2s;
  stroke-dashoffset: 0 !important;
}

.Tree .gif {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
}

.controls {
  color: #fff;
  font-size: 60px;
  line-height: 66px;
  font-weight: 700;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.content .dots {
  position: absolute;
  top: -30px;
  left: 10px;
}

.content .dots circle {
  fill: #202020;
  position: relative;
}

.content .dots circle.dot1 {
  -webkit-animation: 0.5s 0s infinite blinking;
          animation: 0.5s 0s infinite blinking;
}

.content .dots circle.dot2 {
  -webkit-animation: 0.5s 0.33s infinite blinking;
          animation: 0.5s 0.33s infinite blinking;
}

.content .dots circle.dot3 {
  -webkit-animation: 0.5s 0.66s infinite blinking;
          animation: 0.5s 0.66s infinite blinking;
}

#_spinner {
  margin: 0;
}

.connection {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#_testMap {
  border: solid 2px #fff;
}

#_bar {
  width: 800px;
  height: 80px;
  border: solid 2px #fff;
  padding: 2px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#_progressBar {
  height: 100%;
  width: 0px;
  -webkit-transition: width 1.5s ease;
  transition: width 1.5s ease;
  background-color: #fff;
  position: relative;
}
/*# sourceMappingURL=style.css.map */