#debug {
  width: 300px;
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #814e0b;
  padding: 40px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  z-index: 10000;
}

@-webkit-keyframes stroke-anim {
  from {
    stroke-dashoffset: 201 !important;
  }
  to {
    stroke-dashoffset: 0 !important;
  }
}

@keyframes stroke-anim {
  from {
    stroke-dashoffset: 201 !important;
  }
  to {
    stroke-dashoffset: 0 !important;
  }
}

@-webkit-keyframes blinking {
  from {
    fill: #0082ff;
  }
  to {
    fill: #202020;
  }
}

@keyframes blinking {
  from {
    fill: #0082ff;
  }
  to {
    fill: #202020;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(0) translate(-50%, -50%);
            transform: scale(0) translate(-50%, -50%);
  }
  to {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(0) translate(-50%, -50%);
            transform: scale(0) translate(-50%, -50%);
  }
  to {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
}

@-webkit-keyframes disapear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes disapear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #000;
  background-image: url("./Pattern.svg");
}

.container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Tree .circle {
  border: solid 2px #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #01203e;
  -webkit-box-shadow: 0px 0px 200px 25px #ff3c00;
          box-shadow: 0px 0px 200px 25px #ff3c00;
}

.Tree .icon path {
  fill: #202020;
}

.Tree .network {
  width: 100vw;
}

.Tree .branch {
  stroke: #fff;
}

.Tree .branch .disable {
  stroke: #202020;
}

.Tree .node {
  opacity: 1;
}

.Tree .node.hidden {
  opacity: 0;
}

.Tree .node .filter {
  opacity: 0;
}

.Tree .node .circle {
  stroke: #202020;
  fill: #000;
}

.Tree .node path {
  stroke: #202020;
  fill: #202020;
}

.Tree .node.active {
  opacity: 1;
}

.Tree .node.active .filter {
  opacity: 1;
}

.Tree .node.active .circle {
  stroke: #fff;
  fill: #000;
}

.Tree .node.active path {
  stroke: #fff;
  fill: #fff;
}

.Tree #_cursor {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Tree #_cursor::after {
  content: "";
  border: solid 4px #ff3c00;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  width: 95%;
  height: 95%;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Tree #_cursor svg {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Tree #_cursor svg circle {
  stroke: #ff3c00 !important;
  stroke-width: 2px;
  stroke-dasharray: 201 !important;
  stroke-dashoffset: 201 !important;
}

.Tree #_cursor.magnet {
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.Tree #_cursor.magnet circle {
  -webkit-transition: 1.5s ease 1.2s;
  transition: 1.5s ease 1.2s;
  stroke-dashoffset: 0 !important;
}

.Tree .gif {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
}

.Motor {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: relative;
}

.Motor::after {
  content: "";
  background-image: url("./Pattern.svg");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.controls {
  color: #fff;
  font-size: 60px;
  line-height: 66px;
  font-weight: 700;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.content .dots {
  position: absolute;
  top: -30px;
  left: 10px;
}

.content .dots circle {
  fill: #202020;
  position: relative;
}

.content .dots circle.dot1 {
  -webkit-animation: 0.5s 0s infinite blinking;
          animation: 0.5s 0s infinite blinking;
}

.content .dots circle.dot2 {
  -webkit-animation: 0.5s 0.33s infinite blinking;
          animation: 0.5s 0.33s infinite blinking;
}

.content .dots circle.dot3 {
  -webkit-animation: 0.5s 0.66s infinite blinking;
          animation: 0.5s 0.66s infinite blinking;
}

#_spinner {
  margin: 0;
}

#_pulse {
  width: 620px;
  height: 619px;
  border: 7px solid #0082ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 20px 5px #0082ff;
          box-shadow: 0px 0px 20px 5px #0082ff;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: scale(0) translate(-50%, -50%);
          transform: scale(0) translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

#_pulse.pulsed {
  -webkit-animation: pulse 1.8s ease  forwards, disapear .3s ease 1.8s forwards;
          animation: pulse 1.8s ease  forwards, disapear .3s ease 1.8s forwards;
}

#plus {
  position: fixed;
  top: 10px;
  z-index: 99999999999999;
}

.finalAnimation {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.connection {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#_testMap {
  border: solid 2px #fff;
}

.Details {
  position: fixed;
  top: 100vh;
  left: 0;
  height: 100vh;
  width: 100%;
}

.Details-container::before {
  content: "";
  background-image: url("../img/Blur-violet.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  left: 0;
}

.Details-list {
  z-index: 3;
}

.Details-content {
  width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.Details-title {
  color: #fff;
  text-shadow: 0px 0px 60px #fff;
  font-size: 46px;
  text-transform: uppercase;
}

.Details-text {
  color: #fff;
  font-size: 24px;
  width: 480px;
}

.Details-img {
  position: absolute;
  left: 120px;
  z-index: -1;
  top: 0;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

.swiper-pagination {
  width: 3px !important;
  height: 350px !important;
  left: 100px !important;
  bottom: 100px !important;
  top: auto !important;
}

.swiper-container {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("./Pattern.svg");
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.swiper-container.open {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}

.swiper-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */