<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/generator.css">
</head>

<body>
    <main class="Alternatif">
        <div id="_bar">
            <span id="_progressBar"></span>
        </div>
        <div class="Alternatif-container">
            <div class="Alternatif-content">
                <div class="Alternatif-left">
                    <svg width="682" height="309" viewBox="0 0 682 309" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_f)">
                            <path d="M181 187C178.6 226.1 145.9 257 106 257C66.1 257 33.4 226.1 31 187H181Z"
                                fill="#FF0101" />
                        </g>
                        <g filter="url(#filter1_f)">
                            <path d="M181 177H31C33.7 137.9 66.2 107 106 107C145.8 107 178.3 137.9 181 177Z"
                                fill="#0101FF" />
                        </g>
                        <path d="M2 167C9.3 116.1 53.1 77 106 77C158.9 77 202.7 116.1 210 167" stroke="white"
                            stroke-width="3" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round" />
                        <path d="M2 197C9.3 247.9 53.1 287 106 287C158.9 287 202.7 247.9 210 197" stroke="white"
                            stroke-width="3" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round" />
                        <path d="M105.5 77V57H293.5L396.5 153.5H571M105.5 287V307H293.5L396.5 209H653V153.5H615"
                            stroke="white" stroke-width="3" />
                        <path
                            d="M573.801 130.719V124.068C573.801 120.98 572.387 118.129 570.031 115.991C561.548 108.627 556.835 97.4616 558.248 85.1087C560.134 68.9549 573.094 56.1269 589.118 54.2264C610.326 51.8509 628 68.4798 628 89.3847C628 100.075 623.287 109.577 615.982 115.991C613.626 117.891 612.212 120.98 612.212 124.068V130.719H573.801Z"
                            stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M578.984 142.834H606.791" stroke="white" stroke-width="3" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M583.698 154H602.079" stroke="white" stroke-width="3" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <g filter="url(#filter2_f)">
                            <circle cx="593" cy="89" r="35" fill="#9A0FDB" />
                        </g>
                        <defs>
                            <filter id="filter0_f" x="23" y="179" width="166" height="86" filterUnits="userSpaceOnUse"
                                color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                <feGaussianBlur stdDeviation="4" result="effect1_foregroundBlur" />
                            </filter>
                            <filter id="filter1_f" x="23" y="99" width="166" height="86" filterUnits="userSpaceOnUse"
                                color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                <feGaussianBlur stdDeviation="4" result="effect1_foregroundBlur" />
                            </filter>
                            <filter id="filter2_f" x="504" y="0" width="178" height="178" filterUnits="userSpaceOnUse"
                                color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                <feGaussianBlur stdDeviation="27" result="effect1_foregroundBlur" />
                            </filter>
                        </defs>
                    </svg>

                </div>

                <div class="Alternatif-right">
                    <svg width="379" height="270" viewBox="0 0 379 270" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 22V262" stroke="white" stroke-width="3" />
                        <path d="M5 142H365" stroke="white" stroke-width="3" />
                        <path d="M379 137.269H375.22V148H373.78V137.269H370V136H379V137.269Z" fill="white" />
                        <path
                            d="M4.7028 8.11814L5.12238 9.90717H5.13986L5.59441 8.08439L8.54895 0H10L5.36713 12H4.72028L0 0H1.59091L4.7028 8.11814Z"
                            fill="white" />
                        <g filter="url(#filter0_d)">
                            <path id="_sin"
                                d="M47 140.071C66.815 47.1988 119.22 -82.8228 175 140.071C226.485 345.804 283.632 236.907 303 140.071"
                                stroke="#9A0FDB" stroke-width="5" />
                        </g>
                        <g id="_dot" filter="url(#filter0_dd)">
                            <circle cx="28" cy="28" r="8" fill="#9A0FDB" />
                        </g>
                        <defs>
                            <filter id="filter0_d" x="34.5547" y="4.49902" width="280.896" height="265.002"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix"
                                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                <feOffset />
                                <feGaussianBlur stdDeviation="5" />
                                <feColorMatrix type="matrix"
                                    values="0 0 0 0 0.601978 0 0 0 0 0.0572222 0 0 0 0 0.858333 0 0 0 1 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                            </filter>
                            <filter id="filter0_dd" x="0" y="0" width="56" height="56" filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                            <feOffset />
                            <feGaussianBlur stdDeviation="5" />
                            <feColorMatrix type="matrix"
                                values="0 0 0 0 0.601978 0 0 0 0 0.0572222 0 0 0 0 0.858333 0 0 0 1 0" />
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                            <feOffset />
                            <feGaussianBlur stdDeviation="10" />
                            <feColorMatrix type="matrix"
                                values="0 0 0 0 0.601978 0 0 0 0 0.0572222 0 0 0 0 0.858333 0 0 0 1 0" />
                            <feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow" result="shape" />
                        </filter>
                        </defs>
                    </svg>
                  


                </div>

            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/MotionPathPlugin.min.js"></script>
    <script src="../js/alternatif.js"></script>
</body>

</html>