<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/generator.css">
</head>

<body>
      
    <main class="Continue">
        <div id="_bar">
            <span id="_progressBar"></span>
        </div>
        <!-- <div class="controls">
            <button id="drive-button">Drive</button>
             <button id="drive-button">+</button>
            <button id="stop-button">Stop</button>
          </div> -->
          
        <div class="Continue-container">
            <div class="Continue-content">
                <div class="Continue-left">
                    <svg width="715" height="356" viewBox="0 0 715 356" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="_magnets" 
                            d="M216.221 261V262.5H217.721H253.585C232.085 285.247 201.733 299.5 168 299.5C134.267 299.5 103.915 285.247 82.4148 262.5H118.279H119.779V261V101V99.5H118.279H82.4056C103.904 76.666 134.259 62.5 168 62.5C201.741 62.5 232.096 76.666 253.594 99.5H217.721H216.221V101V261Z"
                            stroke="white" stroke-width="3" />
                          
                        <g filter="url(#filter0_f)">
                            <path
                                d="M22.4409 264.25C36.9934 289.456 57.8626 310.434 82.9917 325.119C108.121 339.803 136.643 347.686 165.746 347.991C194.849 348.296 223.53 341.012 248.961 326.857C274.392 312.702 295.696 292.165 310.774 267.27L296.446 258.593C282.877 280.999 263.703 299.482 240.815 312.221C217.927 324.961 192.115 331.516 165.921 331.242C139.728 330.967 114.059 323.873 91.4426 310.657C68.8264 297.441 50.0441 278.56 36.9468 255.875L22.4409 264.25Z"
                                fill="#FF0000" />
                        </g>
                        <g filter="url(#filter1_f)">
                            <path
                                d="M312.559 96.7499C298.007 71.5443 277.137 50.5655 252.008 35.8812C226.879 21.1969 198.357 13.3139 169.254 13.0092C140.151 12.7044 111.47 19.9883 86.0388 34.1431C60.6077 48.2979 39.3037 68.835 24.2265 93.7304L38.5539 102.407C52.1233 80.0015 71.2969 61.5181 94.1849 48.7788C117.073 36.0395 142.886 29.4839 169.079 29.7582C195.272 30.0325 220.941 37.1272 243.557 50.3431C266.174 63.559 284.956 82.4398 298.053 105.125L312.559 96.7499Z"
                                fill="#0101FF" />
                        </g>
                      
                        <circle cx="168" cy="181" r="15.5" stroke="white" stroke-width="3" />
                        <path
                            d="M606.801 130.719V124.068C606.801 120.98 605.387 118.129 603.031 115.991C594.548 108.627 589.835 97.4616 591.248 85.1087C593.134 68.9549 606.094 56.1269 622.118 54.2264C643.326 51.8509 661 68.4798 661 89.3847C661 100.075 656.287 109.577 648.982 115.991C646.626 117.891 645.212 120.98 645.212 124.068V130.719H606.801Z"
                            stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M611.985 142.834H639.791" stroke="white" stroke-width="3" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M616.698 154H635.079" stroke="white" stroke-width="3" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M168 166V154H604M168 196V208H686V154H648" stroke="white" stroke-width="3" />
                        <g filter="url(#filter2_f)" id="bulb">
                            <circle cx="626" cy="89" r="35" fill="#FF3C00" />
                        </g>
                        <defs>
                            <filter id="filter0_f" x="14.4409" y="247.875" width="304.333" height="108.125"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                <feGaussianBlur stdDeviation="4" result="effect1_foregroundBlur" />
                            </filter>
                            <filter id="filter1_f" x="16.2266" y="5" width="304.333" height="108.125"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                <feGaussianBlur stdDeviation="4" result="effect1_foregroundBlur" />
                            </filter>
                            <filter id="filter2_f" x="537" y="0" width="178" height="178" filterUnits="userSpaceOnUse"
                                color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                <feGaussianBlur stdDeviation="27" result="effect1_foregroundBlur" />
                            </filter>
                        </defs>
                    </svg>

                </div>

                <div class="Continue-right">
                    <svg width="379" height="262" viewBox="0 0 379 262" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 22V262" stroke="white" stroke-width="3" />
                        <path d="M5 142H365" stroke="white" stroke-width="3" />
                        <path d="M379 137.269H375.22V148H373.78V137.269H370V136H379V137.269Z" fill="white" />
                        <path
                            d="M4.7028 8.11814L5.12238 9.90717H5.13986L5.59441 8.08439L8.54895 0H10L5.36713 12H4.72028L0 0H1.59091L4.7028 8.11814Z"
                            fill="white" />
                        <g filter="url(#filter0_d)">
                            <path id="_sin" d="M15 72H355" stroke="#FF3C00" stroke-width="5" />
                        </g>
                        <g id="_dot" filter="url(#filter1_dd)">
                            <circle cx="289" cy="72" r="8" fill="#FF3C00" />
                        </g>
                        <defs>
                            <filter id="filter0_d" x="5" y="59.5" width="360" height="25" filterUnits="userSpaceOnUse"
                                color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix"
                                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                <feOffset />
                                <feGaussianBlur stdDeviation="5" />
                                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.235294 0 0 0 0 0 0 0 0 1 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                            </filter>
                            <filter id="filter1_dd" x="261" y="44" width="56" height="56" filterUnits="userSpaceOnUse"
                                color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix"
                                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                <feOffset />                                <feGaussianBlur stdDeviation="5" />
                                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.235294 0 0 0 0 0 0 0 0 1 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                                <feColorMatrix in="SourceAlpha" type="matrix"
                                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                <feOffset />
                                <feGaussianBlur stdDeviation="10" />
                                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.235294 0 0 0 0 0 0 0 0 1 0" />
                                <feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow" result="shape" />
                            </filter>
                        </defs>
                    </svg>

                </div>

            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"
    integrity="sha512-AcZyhRP/tbAEsXCCGlziPun5iFvcSUpEz2jKkx0blkYKbxU81F+iq8FURwPn1sYFeksJ+sDDrI5XujsqSobWdQ=="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/MotionPathPlugin.min.js"></script>
    <script src="../js/generator.js"></script>
</body>
 
</html>